<form>

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Enter username">
  </div>

  <div class="form-group">
    <label>Buisness id</label>
    <input type="text" class="form-control" placeholder="Enter bid">
  </div>
  
  <div class="form-group">
    <label>Firstname</label>
    <input type="text" class="form-control" placeholder="Enter firstname">
  </div>
  
  <div class="form-group">
    <label>Lastname</label>
    <input type="text" class="form-control" placeholder="Enter lastname">
  </div>
  
 <div class="form-group">
    <label>Address</label>
    
    <div class="form-row">
	    <div class="col-md-3 mb-3">
		    <input type="text" class="form-control" placeholder="Enter state">
	    </div>

	    <div class="col-md-3 mb-3">
		    <input type="text" class="form-control" placeholder="Enter city">
	    </div>

	    <div class="col-md-3 mb-3">
		    <input type="text" class="form-control" placeholder="Enter address name">
	    </div>

	    <div class="col-md-3 mb-3">
	    	<input type="text" class="form-control" placeholder="Enter addres number">
	    </div>
    </div>

  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>


  <div class="form-group">
    <input type="password" class="form-control" placeholder="Confirm password">
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>