<div class="containerbody">
    <div class="container auth">
        <h1 class="text-center">Find your perfect holiday destination
            <span>It's nice!</span>
        </h1>
        <div id="big-form" class="well auth-box">
            <form #data="ngForm">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="textinput">Destination:</label>
                        <div class="">
                            <input id="textinput" [(ngModel)]="data.destination" #dataDestination="ngModel" name="destination" class="form-control input-md" type="text"  required>
                        </div>
                    </div>
                    <div *ngIf="dataDestination.errors?.required && dataDestination.touched" class="alert alert-danger">
                        Destination is required
                    </div>

                    <div class="form-group">
                        <label class=" control-label" for="textinput">Check-in date:</label>
                        <div class="">
                            <input id="textinput" [(ngModel)]="data.checkin" #dataCheckin="ngModel" name="checkin" class="form-control input-md" type="date" (focus) = "maxDate(data.checkout)" [min] = "minCheckInDate " [max]="maxCheckInDate" onkeydown="return false" required>
                        </div>
                    </div>
                    <div *ngIf="dataCheckin.errors?.required && dataCheckin.touched"  class="alert alert-danger">
                        Check-in date is required
                    </div>

                    <div class="form-group">
                        <label class=" control-label" for="textinput">Check-out date:</label>
                        <div class="">
                            <input id="textinput" [(ngModel)]="data.checkout" #dataCheckout="ngModel" name="checkout" class="form-control input-md" type="date" (focus)="minDate(data.checkin)" [min] = "minCheckOutDateIfCheckIn || minCheckOutDate" onkeydown="return false" required>
                        </div>
                    </div>
                    <div *ngIf="dataCheckout.errors?.required && dataCheckout.touched"  class="alert alert-danger">
                        Check-out date is required
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class=" control-label" for="selectbasic">Guests:</label>
                        <div class="">
                            <!-- <select id="selectbasic" [(ngModel)]="data.adults" name="adults" class="form-control" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>  -->
                            <input id="textinput" [value] = "1" [(ngModel)]="data.guests" #dataGuests="ngModel" name="guests" class="form-control input-md" type="number"  min = "1" onkeydown="return false" required>
                        </div>
                    </div>
                    <div *ngIf="dataGuests.errors?.required && dataGuests.touched"  class="alert alert-danger">
                        Number of guests is required
                    </div>
                    <br>

                    <hr>
                    <div class="form-group">
                        <label class="asearch-label" for="selectbasic" (click)="showAdvancedSearch()">Advanced search
                            <img src='../../../assets/triangledownw.png' height="21" width="21" *ngIf="!advancedSearch" />
                            <img src='../../../assets/triangleupw.png' height="21" width="21" *ngIf="advancedSearch" />
                        </label>
                    </div>

                    <div class="form-group" *ngIf="advancedSearch">
                        <label class=" control-label" for="selectbasic">Accommodation type:</label>
                        <div class="">
                            <select id="selectbasic" [(ngModel)]="data.type" name="selectbasic" class="form-control">
                                <option></option>
                                <option *ngFor="let type of accomodationTypes" value={{type.id}}>{{type.name}}</option>
                               <!--  <option>Hotel</option>
                                <option>Apartment</option>
                                <option>Bed&Breakfast</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="advancedSearch">
                        <label class=" control-label" for="selectbasic">Accommodation category:</label>
                        <div class="">
                            <select id="selectbasic" [(ngModel)]="data.category" name="selectbasic" class="form-control">
                                <option></option>
                                <option value="0">No category</option>
                                <option value="1">*</option>
                                <option value="2">**</option>
                                <option value="3">***</option>
                                <option value="4">****</option>
                                <option value="5">*****</option>
                            </select>
                        </div>
                    </div>

                    <!--
                    // File Button 
                    <div class="form-group" *ngIf="advancedSearch">
                        <label class=" control-label" for="filebutton">Avatar</label>
                        <div class="">
                            <input id="filebutton" name="filebutton" class="input-file" type="file">
                        </div>
                    </div>


                    // Select Multiple 
                    <div class="form-group" *ngIf="advancedSearch">
                        <label class=" control-label" for="selectmultiple">Category</label>
                        <div class="">
                            <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                                <option value="1">Option one</option>
                                <option value="2">Option two</option>
                            </select>
                        </div>
                    </div>
                    -->

                    <!-- Multiple Checkboxes -->
                    <div class="form-group" *ngIf="advancedSearch">
                        <label class=" control-label" for="checkboxes">Extra features:</label>
                        <div *ngIf="bonusServices">
                        <div class="" *ngFor="let bs of bonusServices">

                            <div class="checkbox">
                                <label for="checkboxes-0">
                                    <input name="checkboxes" [(ngModel)]="data[bs.name]" id="checkboxes-0" value={{bs.id}} type="checkbox"> {{bs.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    <!-- Button (Double) -->
                    <hr>
                    <div class="form-group">
                        <div class="">
                            <a routerLink="/results"><input type="submit" id="button1id" value="Search" name="button1id" class="btn btn-success" [disabled]="!data.valid" (click)="search(data)"></a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>