<head>
  <title>Manage agent requests</title>
</head>

<ul>
  <li>
    <a routerLink="../users">Users</a>
  </li>
  <li>
    <a routerLink="../agents">Agents</a>
  </li>
  <li>
    <a routerLink="../comments">Comments</a>
  </li>
  <li>
    <a routerLink="../acc-type">Accomodation Types</a>
  </li>
</ul>

<div class="table">
  <div class="thead">
    <div class="tr">
      <div class="td">User</div>
      <div class="td">First name</div>
      <div class="td">Last name</div>
      <div class="td">Business number</div>
      <div class="td">Address</div>
      <div class="td">Action</div>
    </div>
  </div>
  <div class="tbody" *ngFor="let agent of agents;">
    <form class="tr" #data="ngForm">
      <div class="td">{{ agent.userName }}</div>
      <div class="td">{{ agent.firstName }}</div>
      <div class="td">{{ agent.lastName }}</div>
      <div class="td">
        <input type="text" [(ngModel)]="data.pid" name="pid">
      </div>
      <div class="td">
        <input type="number" [(ngModel)]="data.address" name="address">
      </div>
      <div class="td action">
        <button (click)="acceptAgent(data.pid, data.address, agent.id, agent)">ACCEPT</button>&nbsp; &nbsp;
        <button (click)="rejectAgent(data.pid, data.address, agent.id, agent)">DECLINE</button>
      </div>
    </form>
  </div>
</div>