<head>
  <title>Users</title>
  <!--link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"-->
</head>

<ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="../about/48">About</a>
  </li>
  <li>
    <a routerLink="../users">Users</a>
  </li>
  <li>
    <a routerLink="../agents">Agents</a>
  </li>
  <li>
    <a routerLink="../comments">Comments</a>
  </li>
  <li>
    <a routerLink="../codebook">Codeboo</a>
  </li>
</ul>

<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column1">User</th>
          <th class="cell100 column2">Action</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <form #data="ngForm" class="login-form">
      <tbody>
        <tr class="row100 body">
          <td class="cell100 column1">Name</td>
          <td class="cell100 column2"><input type="text"></td>
        </tr>
        <tr class="row100 body">
          <td class="cell100 column1">Surname</td>
          <td class="cell100 column2"><input type="text"></td>
        </tr>
        <tr class="row100 body">
          <td class="cell100 column1">Adress</td>
          <td class="cell100 column2"><input type="text">
        </tr>
        <tr class="row100 body">
          <td class="cell100 column1">Number</td>
          <td class="cell100 column2"><input type="number"></td>
        </tr>
      </tbody>
    </form>
    </table>
  </div>