<head>
  <title>Manage agent requests</title>
</head>

<ul>
  <li>
    <a routerLink="../users">Users</a>
  </li>
  <li>
    <a routerLink="../agents">Agents</a>
  </li>
  <li>
    <a routerLink="../comments">Comments</a>
  </li>
  <li>
    <a routerLink="../acc-type">Types</a>
  </li>
  <li>
    <a routerLink="../acc-category">Categories</a>
  </li>
  <li>
    <a routerLink="../bonus-types">Bonus Types</a>
  </li>
</ul>

<div class="table">
  <div class="thead">
    <div class="tr">
      <div class="td">User</div>
      <div class="td">First name</div>
      <div class="td">Last name</div>
      <div class="td">Business number</div>
      <div class="td">Address id</div>
      <div class="td">Action</div>
    </div>
  </div>
  <div class="tbody" *ngFor="let agent of agents;">
    <form class="tr" #data="ngForm">
      <div class="td">{{ agent.userName }}</div>
      <div class="td">{{ agent.firstName }}</div>
      <div class="td">{{ agent.lastName }}</div>
      <div class="td">
        <input type="text" [(ngModel)]="data.pid" name="pid">
      </div>
      <div class="td">
        <input type="number" [(ngModel)]="data.address" name="address">
      </div>
      <div class="td action">
        <button (click)="acceptAgent(data.pid, data.address, agent.id, agent)">ACCEPT</button>&nbsp; &nbsp;
        <button (click)="rejectAgent(data.pid, data.address, agent.id, agent)">DECLINE</button>
      </div>
    </form>
  </div>
</div>

<br />
<br />

<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column1">Address</th>
          <th class="cell100 column2">Id</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>
        <tr class="row100 body" *ngFor="let ad of adrese; ">
          <td class="cell100 column1"> {{ ad.state }}, {{ ad.city }}, {{ ad.streetName }}, {{ad.streetNumber}} </td>
          <td class="cell100 column2"> {{ ad.id }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>