<div class="containter" >
	<h4> New Accomodation: </h4>
	<form>
		<div class="form-group">
			<label>Accomodation name</label>
			<input type="text" class="form-control" placeholder="Enter name">
		</div>
		<div class="form-group">
			<label>Address</label>

			<div class="form-row">
				<div class="col-md-3 mb-3">
					<input type="text" class="form-control" placeholder="Enter state">
				</div>

				<div class="col-md-3 mb-3">
					<input type="text" class="form-control" placeholder="Enter city">
				</div>

				<div class="col-md-3 mb-3">
					<input type="text" class="form-control" placeholder="Enter address name">
				</div>

				<div class="col-md-3 mb-3">
					<input type="text" class="form-control" placeholder="Enter addres number">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>Type</label>
			<select class="custom-select" required>
				<option value="">Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<div class="invalid-feedback">Example invalid custom select feedback</div>
		</div>	

		<div class="form-group">
			<label>Description</label>
			<input type="text" class="form-control" placeholder="Enter bid">
		</div>	


		<div class="form-group">
			<label>Pictures</label>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="validatedCustomFile" required>
				<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
				<div class="invalid-feedback">Example invalid custom file feedback</div>
			</div>

			<div> 
				Image preview

			</div>


		</div>	


		<div class="form-group">
			<label>Capacity</label>
			<input type="text" class="form-control" placeholder="Enter bid">
		</div>	


		<div class="form-group">
			<label>Bonus services</label>
			
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input type="checkbox" aria-label="Checkbox for following text input">
					</div>
				</div>
				<input type="text" class="form-control" aria-label="Text input with checkbox">
			</div>


			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input type="checkbox" aria-label="Checkbox for following text input">
					</div>
				</div>
				<input type="text" class="form-control" aria-label="Text input with checkbox">
			</div>

		</div>



		<div class="form-group">
			<label>Prices</label>
			<div class="form-group">
				<button type="button" class="btn btn-primary">New price</button>
			</div>
			<div class="form-group">		

			<div class="form-row">
				<div class="col-md-3 mb-3">
					<input type="date" class="form-control" placeholder="Enter state">
				</div>

				<div class="col-md-3 mb-3">
					<input type="date" class="form-control" placeholder="Enter city">
				</div>

				<div class="col-md-3 mb-3">
					<input type="text" class="form-control" placeholder="Enter address name">
				</div>

				<div class="col-md-3 mb-3">
					<button type="button" class="btn btn-primary">Delete</button>
				</div>


			</div>




			</div>

		</div>	

		  <button type="submit" class="btn btn-primary">Add accomodation</button>

	</form>
</div>
