<table class="table">
  <thead>
    <tr>
      <th>Accomodation</th>
      <th>Check-in date</th>
      <th>Check-out date</th>
      <th>Price</th>
      <th>Guests</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let reservation of myReservations">
      <td>{{reservation.accomodation.accomodationName}}</td>
      <td>{{reservation.startDate | date:'dd/MM/yyyy'}}</td>
      <td>{{reservation.endDate | date:'dd/MM/yyyy'}}</td>
      <td>{{reservation.price}}</td>
      <td>{{reservation.numberOfPersons}}</td>
      <td>
        <button class="btn btn-danger" (click)="cancelReservation(reservation.id)" *ngIf="reservation.startDate>today">Cancel</button>

        <div *ngIf="reservation.endDate<today">
          <!-- Rate your stay:
          <button type="button" class="btn btn-primary">1</button>
          <button type="button" class="btn btn-primary">2</button>
          <button type="button" class="btn btn-primary">3</button>
          <button type="button" class="btn btn-primary">4</button>
          <button type="button" class="btn btn-primary">5</button> -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="setReservation(reservation)" *ngIf="!reservation.reviewed && reservation.realized">Write a review</button>
          <label *ngIf="reservation.reviewed">Reviewed</label>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" (click)="data.comment=''">&times;</button>
                  <h4 class="modal-title">Rate your stay and write a comment</h4>
                </div>
                <div class="modal-body">
                  <form #data="ngForm" id="commform">
                    <div class="form-group">
                      <label for="comment">Comment:</label>
                      <textarea form="commform" [(ngModel)]="data.comment" name="comment" class="form-control" rows="5" id="comment" required></textarea>
                    </div>
                    <div  name="rating" class="btn-group-sm">
                        <select id="selectbasic" [(ngModel)]="data.rating" name="selectbasic" class="form-control" required>
                            <option></option>
                            <option value="1">*</option>
                            <option value="2">**</option>
                            <option value="3">***</option>
                            <option value="4">****</option>
                            <option value="5">*****</option>
                        </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="leaveReview(data, reservation.accomodation, reservation)" [disabled]="!data.valid" data-dismiss="modal">OK</button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </td>
    </tr>
  
  </tbody>
</table>