<head>
  <title>Users</title>
  <!--link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"-->
</head>

<ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="about/48">About</a>
  </li>
  <li>
    <a routerLink="../users">Users</a>
  </li>
  <li>
    <a routerLink="../agents">Agents</a>
  </li>
  <li>
    <a routerLink="../comments">Comments</a>
  </li>
  <li>
    <a routerLink="../codebook">Codebook</a>
  </li>
</ul>

<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column1">User</th>
          <th class="cell100 column2">Type</th>
          <th class="cell100 column3">Action</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>

        <tr class="row100 body" *ngFor="let user of users; ">
          <td class="cell100 column1"> {{ user.userName }} </td>
          <!--td class="cell100 column2"> {{ user.userType }} </td-->
          <td class="cell100 column3">
            <input type="button" value="BLOCK">
            <input type="button" value="REMOVE">
            <input type="button" value="ACTIVATE">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>