<head>
  <title>Manage users</title>
</head>

<ul>
  <li>
    <a routerLink="../users">Users</a>
  </li>
  <li>
    <a routerLink="../agents">Agents</a>
  </li>
  <li>
    <a routerLink="../comments">Comments</a>
  </li>
  <li>
    <a routerLink="../acc-type">Types</a>
  </li>
  <li>
    <a routerLink="../acc-category">Categories</a>
  </li>
  <li>
    <a routerLink="../bonus-types">Bonus Types</a>
  </li>
</ul>

<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column1">User</th>
          <th class="cell100 column2">Type</th>
          <th class="cell100 column3">Status</th>
          <th class="cell100 column4">Action</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>
        <tr class="row100 body" *ngFor="let user of users; ">
          <td class="cell100 column1"> {{ user.userName }} </td>
          <td class="cell100 column2"> {{ user.userType }} </td>
          <td class="cell100 column3"> {{ user.active }} </td>
          <td class="cell100 column4">
            <button value="BLOCK" (click)="blockUser(user.id, user.version)">BLOCK</button>
            &nbsp; &nbsp;
            <button value="REMOVE" (click)="deleteUser(user.id, user)">REMOVE</button>
            &nbsp; &nbsp;
            <button value="ACTIVATE" (click)="activateUser(user.id, user.version)">ACTIVATE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>