<div class="containerbody">
  <div class="container auth">
    <br>
    <br>
    <div id="big-form" class="well auth-box">
      <form #data="ngForm">
        <fieldset>
          <!-- Text input-->

          <div class="form-group">
            <label class=" control-label" for="textinput">Username:</label>
            <div class="">
              <input [(ngModel)]="data.username" name="username" #dataUsername="ngModel" class="form-control input-md" type="text" required>
            </div>
          </div>
          <div *ngIf="dataUsername.errors?.required && dataUsername.touched" class="alert alert-danger">
            Username is required
          </div>

          <div class="form-group">
            <label class=" control-label" for="textinput">First name:</label>
            <div class="">
              <input [(ngModel)]="data.firstname" #dataFirstname="ngModel" name="firstname" class="form-control input-md" type="text" required>
            </div>
          </div>
          <div *ngIf="dataFirstname.errors?.required && dataFirstname.touched" class="alert alert-danger">
            First name is required
          </div>

          <div class="form-group">
            <label class=" control-label" for="textinput">Last name:</label>
            <div class="">
              <input [(ngModel)]="data.lastname" #dataLastname="ngModel" name="lastname" class="form-control input-md" type="text" required>
            </div>
          </div>
          <div *ngIf="dataLastname.errors?.required && dataLastname.touched" class="alert alert-danger">
            Last name is required
          </div>

          <div class="form-group">
            <label class=" control-label" for="textinput">Password:</label>
            <div class="">
              <input [(ngModel)]="data.password" #dataPassword="ngModel" name="password" class="form-control input-md" type="password"
                required>
            </div>
          </div>
          <div *ngIf="dataPassword.errors?.required && dataPassword.touched" class="alert alert-danger">
            Password is required
          </div>

          <div class="form-group">
            <div class="">
              <input type="submit" id="button1id" value="Register" name="button1id" class="btn btn-success" [disabled]="!data.valid" (click)="register(data)">
            </div>
          </div>
        </fieldset>
      </form>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="clearfix"></div>
  </div>
</div>