<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">poseti.me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="dropdown" *ngIf="this.dataService.getLogged()">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My profile
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/reservations">My reservations</a>
            </li>
            <li>
              <a routerLink="/messages">My messages</a>
            </li>
          </ul>
        </li>
       
        <li>
          <a routerLink="/accomodations">Accomodations</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!this.dataService.getLogged()">
          <a routerLink="/register">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li *ngIf="!this.dataService.getLogged()">
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>

        <li *ngIf="this.dataService.getLogged()">
          <a routerLink="/" (click)="logOut()">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>