<head>
  <title>Comments</title>
  <!--link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css"-->
</head>

<ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="about/48">About</a>
  </li>
  <li>
    <a routerLink="../users">Users</a>
  </li>
  <li>
    <a routerLink="../agents">Agents</a>
  </li>
  <li>
    <a routerLink="../comments">Comments</a>
  </li>
  <li>
    <a routerLink="../codebook">Codeboo</a>
  </li>
</ul>

<div class="table100 ver3 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th>Content</th>
          <th>Where</th>
          <th>User</th>
          <th>Response</th>
        </tr>
      </thead>
	  </table>
	 </div>
	 <div>
	 <table>
	  <tbody>
	  <form #data="ngForm" class="comment-form">
        <tr *ngFor="let comm of comments">
          <td class="cell100 column1">{{ comm.content }}</td>
          <td class="cell100 column2">{{ comm.accomodationName }}</td>
          <td class="cell100 column3">{{ comm.authorName }}</td>
          <td class="cell100 column4">
				<input type="submit" value="APPROVE" (click)="approveComment(comm.id, comm.version)">
				<input type="submit" value="REJECT" (click)="rejectComment(comm.id, comm.version)">
		  </td>
        </tr>
		</form>
      </tbody>
    </table>
	</div>
</div>
